.imagen-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.imagen-fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.cuerpo-inicio-sesion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/fondo-login.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor-inicio-sesion {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.contenedor-inicio-sesion h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.contenedor-inicio-sesion form,
#formularioRegistro {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.contenedor-inicio-sesion label {
    margin-bottom: 10px;
}

.contenedor-inicio-sesion input,
#formularioRegistro input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.contenedor-inicio-sesion button, 
.contenido-popup button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; 
    box-sizing: border-box; 
    font-size: 20px;
}

.contenedor-inicio-sesion button:hover,
.contenido-popup button:hover {
    background-color: #0056b3;
}

.ventana-emergente {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.contenido-popup {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 20px;
}

.contenido-popup button{
    width: 25vh;
}

#buttonsForm{
    margin-top: 2%;
}

.cerrar {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
